html, body {
  @apply h-full;
}

h1, h2, h3, h4, h6 {
  @apply pb-6 font-bold font-heading text-primary;
}

h1 {
  @apply pb-6 text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-2xl;
  @apply md:text-3xl;
}

h4 {
  @apply text-2xl;
}

p {
  @apply font-sans text-base ;
}

#root {
  @apply h-full text-white;
}

.app {
  @apply grid min-h-full bg-black;
  grid-template-rows: auto 1fr auto;
}

.trail-line,
.trail-line-double {
  @apply flex items-center;
}

.trail-line::after {
  @apply flex flex-1 ml-4 overflow-hidden transform -translate-y-1/2 border-b-2 border-current;
  content: "";
}

.trail-line-double::before,
.trail-line-double::after {
  @apply flex flex-1 ml-4 overflow-hidden transform translate-y-1/2 border-b-2 border-current;
  content: "";
}

.trail-line-double::before {
  @apply mr-4;
}

.trail-line-double::after {
  @apply ml-4;
}

section {
  @apply container pt-4;
  @apply md:pt-8
}
