html, body {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
  }

.footer {
    flex-shrink: 0;
}

.home-bg {
    flex: 1 0 auto;
    background-image: url('../../imgs/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage {
    @apply container pb-8 my-auto text-center;
}

.homepage-title {
	@apply pt-24;
}

.CTA-btn {
    @apply px-4 py-2 m-auto font-semibold text-white uppercase bg-primary;
}

/* .Title {
    @apply double-trail-line;
} */