.blog-date {
  @apply text-xl font-extrabold text-secondary;
}

.blog {
  display: flex;
  align-items: center;
}

.trail-line-blog {
  padding-bottom: 0;
  flex: 1;
  margin-right: 10px; /* space between line and date */
}

.blog-date {
  margin-left: auto;
}
